<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Gateway.Pagamento;Integrated Security=True;Pooling=False" 
      name="ConnectionString.Dev"
      providerName="System.Data.SqlClient"
    />-->
    
    <add
      connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Gateway.Pagamentos.Dev;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" 
      name="ConnectionString.Dev"
      providerName="System.Data.SqlClient"
    />
  </connectionStrings>
</configuration>